*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  background: none repeat scroll 0 0;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
}

#health_area{
  width: 100%;
  clear: both;
  padding: 45px 0;
}

.inner_health{
  width: 98%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.inner_health h2{
  font-weight: 500;
  margin-bottom: 20px;
}

.inner_health.main{
  display: flex;
}

.chilld_healt{
  background: #0081C9;
  color: #fff;
  width: 25%;
  padding: 45px 30px;
  margin: 0 1% 10px;
  border-radius: 25px;

}
.chilld_healt:nth-child(1){
  background: #FD8A8A;
 
}
.chilld_healt:nth-child(2){
  background: #FF8B13;
 
}
.chilld_healt:nth-child(3){
  background: #A31ACB;
 
}
.chilld_healt i{
  font-size: 50px;
  margin-bottom: 20px;
}
.chilld_healt h5{
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 0 0 10px;
}
.chilld_healt p{
  margin: 0;
}